<%- include('../includes/head') %>

<h2>Details</h2>

<a href="/">
    <button class="btn">
        &larr; Go Back
    </button>
</a>

<% if (match) { %>
    <h3><%= match.team1 %> - <%= match.team2 %></h3>

    <% if (match.score1 !== "") { %>
    <div class="score-container">
        <div>
            <h4><span class="css-disabled">Score team 1: </span><%= match.score1 %></h4>
        </div>

        <div>
            <h4><span class="css-disabled">Score team 2: </span><%= match.score2 %></h4>
        </div>
    </div>

    <% } else { %>
        <p>No score available, yet</p>
    <% } %>

    <h4><%= formattedDate %> at <%= match.time %></h4>

<% } %>

<% if (!match) { %>
    <h2>This is not a valid match. Please go back and select a valid one</h2>
<% } %>

<button onclick="enableNotifications()" class="btn">Enable notifications 🔔</button>


<div class="weather-info">
    <img src="<%= iconUrl %>" alt="Weather Icon">
    <p>(<%= weatherTemp %> °C)</p>
</div>

<hr />

<section id="chat">
    <h2>Bulls - Bears</h2>
    <ol>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
        <li>Test bericht</li>
    </ol>
    <p id="typing" hidden>Someone is typing...</p>

    <input type="text" name="message" id="message" />
    <button type="submit">Send</button>
</section>

<%- include('../includes/end') %>
