<%- include('../includes/head', { title: "Matches" }) %>

<h2>Matches</h2>

<div class="new-match-box" hidden>
    <h3>There is a new match</h3>
    <p>Please reload to get the newest matches</p>
    <button id="reload-btn" class="btn" onclick="location.reload()">Reload</button>
</div>


<div class="filter-container">
    <form action="/" method="GET">
        <% if (disabledBtn === 'all') { %>
            <input type="submit" value="All" disabled>
        <% } else { %>
            <input type="submit" value="All">
        <% } %>
    </form>

    <form action="/matches-today" method="POST">
        <% if (disabledBtn === 'today') { %>
            <input type="submit" value="Today" disabled>
        <% } else { %>
            <input type="submit" value="Today">
        <% } %>
    </form>

    <form action="/matches-finished" method="POST">
        <% if (disabledBtn === 'finished') { %>
            <input type="submit" value="finished" disabled>
        <% } else { %>
            <input type="submit" value="finished">
        <% } %>
    </form>
</div>

<section>
    <!-- 1). If there are no matches -->
    <% if (matches !== undefined & matches !== 'No matches') { %>

        <!-- Loop through matches -->
        <% for(var i = 0; i < matches.length; i++) { %>

        <article class="match-card">
            <h3><%= matches[i].team1 %> - <%= matches[i].team2 %></h3>

            <!-- 2). If there are scores for both teams -->
            <% if (matches[i].score1 && matches[i].score2) { %>

                <!-- 3). If the game is finished -->
                <% if (matches[i].finished === 'on') { %>

                    <p><%= matches[i].score1 %> - <%= matches[i].score2 %> ✅</p>

                <!-- 3). Else (score, but not finished => playing) -->
                <% } else { %>

                    <p><%= matches[i].score1 %> - <%= matches[i].score2 %> (playing..)</p>

                <% }%>

                <!-- 2). Else (if both teams do not have a score) -->
                <% } else { %>

                    <% if (matches[i].date === today) { %>
                        <p>
                            Starting at <%= matches[i].time %>
                        </p>

                    <!-- 3). Else (date differs) -->
                    <% } else { %>
                        <p>
                            <%= matches[i].date %>
                        </p>
                    <% } %>
                <% } %>

            <a href="/details/<%= matches[i].id %>">
                <button>
                    <span> Details </span>
                </button>
            </a>
        </article>

    <hr class="css-disabled" />

    <% } %>

    <!-- 1). Else (no matches) -->
    <% } else{ %>

    <p>There are no matches</p>

    <% } %>
</section>

<script>
    const newMatchBox = document.querySelector('.new-match-box');
</script>

<%- include('../includes/end') %>
